.select__option{
    color: black;
}
.select__input{
    background-color: #1C1C1C;
    border: 1px #262626 solid;
    /*padding: 1rem;*/
    color: white;
    height: 6.125rem;
    text-align: center;
}
.number__input{
    background-color: #1C1C1C;
    border: 1px #262626 solid;
    color: white;
    height: 5rem;
    text-align: center;
}
.tabs__root{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tabs__root[data-orientation="vertical"] {
    align-items: flex-start;

}

.tabs__panel{
    margin-left: 1.875rem;
}

.tabs__list{
    padding: 0.825rem;
    background-color: #1C1C1C;
    border: 1px #262626 solid;
    border-radius: 5.125rem;

}

.tabs__list[data-orientation="vertical"] {
    gap:1.5rem;
    border-radius: 0.75rem;
    padding: 3.125rem;
    border: 0;
    text-align: left;

    &::before {
        display: none;
    }
}
.tabs__tab{
    color: #ffffff;
    border-radius: 9rem;
    font-size: 1.25rem;

    &[data-active] {
        color: #1C1C1C;
        background-color: #CAFF33;

    }

    &:hover {
        color: #1C1C1C;
        background-color: #CAFF33;
        transition: 0.2s ease-in background-color;
    }
}


.tabs__tab[data-orientation="vertical"] {

    border: 1px solid #262626;
    padding: 1rem 2rem;

    &[data-active] {
        color: #CAFF33;
        background-color: #1A1A1A;
    }


}